<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/addBox.css">
  <link rel="script" href="../default.js">
</head>

<body>
<center>
<div>
  <form method="post">
    <table id="newBox">
        <thead>
          <td id="entryHeader">Entry</td>
          <td id="valueHeader">Value</td>
        </thead>
        <tr>
          <td>Name:</td>
          <td><input type="text" id="nameInput"></td>
        </tr>
        <tr>
          <td>Color: <br /><font size="0.8em">(only HTML color names supported)</font></td>
          <td><input type="text" id="colorInput"></td>
        </tr>
        <tr>
          <td>Color (Hex):</td>
          <td><input type="text" id="colorHexInput"></td>
        </tr>
        <tr>
          <td>Height</td>
          <td><input type="number" id="heightInput"></td>
        </tr>
        <tr>
          <td>Width:</td>
          <td><input type="number" id="widthInput"></td>
        </tr>
        <tr>
          <td>Total Area:</td> <!-- Can I make this calculate automatically? -->
          <td><input type="number" id="areaInput"></td>
        </tr>
    </table>
  </form>
</div>
<div>
  <button onclick="add()" id="saveButton">Add</button> <!-- Doesn't yet do anything -->
  <a href="menu"><button id="cancelButton">Cancel</button></a>
</div>
</center>
</body>
</html>

