<!-- This isn't actually used. Delete before submitting. -->

<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
      <!-- This is where we change what gets output-->
      <!-- Almost no formatting, just csv with bullet points-->
      <!-- Can probably adjust this with css or something?-->
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
