<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
<center>
<div id="drawingArea">
</div>
<div>
  <table id="rectList">
    <thead>
      <td id="nameHeader">Name</td>
      <td id="colorHeader">Color</td>
    </thead>
    <tr>
      <td>BOXNAME</td>
      <td>COLOR</td>
    </tr>
    <tr>
      <td>BOXNAME</td>
      <td>COLOR</td>
    </tr>
    <tr>
      <td>BOXNAME</td>
      <td>COLOR</td>
    </tr>
  </table>
</div>
</center>
</body>
</html>
