<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/default.css">
  <link rel="script" href="../default.js">
</head>

<body>
<center>
<div id="drawingArea">
</div>
<div>
  <table id="rectList">
    <thead>
      <td id="nameHeader">Name</td>
      <td id="colorHeader">Color</td>
    </thead>
    <!-- Should draw one row per entry in the DB? -->
    <% boxList.forEach(function(r){ %>
    <tr>
      <td><a href="singleBox.ejs/r.Name"><%=r.Name %></a></td>
      <td><%=r.ColorName %></td>
    </tr>
    <% }); %>
  </table>
  <a href="addBox.ejs"><button id="addButton">Add A Box</button></a>
</div>
</center>
</body>
</html>
