<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/default.css">
  <link rel="script" href="../default.js">
</head>

<body>
<center>
<div id="drawingArea">
  <!-- Want to create a div for each box in the DB, 
       with a minimum width/height and background color
       according to the DB contents. Needs to get formatted
       directly in here instead of in the .css; I don't think
       the .css can pull from the database at all... -->
</div>
<div>
  <table id="rectList">
    <thead>
      <td id="nameHeader">Name</td>
      <td id="colorHeader">Color</td>
    </thead>
    <!-- Should draw one row per entry in the DB? -->
    <% minimalList.forEach(function(box){ %>
    <tr>
      <td><a href="singleBox.ejs/r.Name"><%= box.Name %></a></td>
      <td><%= box.ColorName %></td>
    </tr>
    <% }); %>
  </table>
  <a href="addBox.ejs"><button id="addButton">Add A Box</button></a>
</div>
</center>
</body>
</html>
