<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/default.css">
  <link rel="script" href="../default.js">
</head>

<body>
<center>
<div id="drawingArea">
</div>
<div>
  <table id="rectList">
    <thead>
      <td id="nameHeader">Name</td>
      <td id="colorHeader">Color</td>
    </thead>
    <!-- Should draw one row per entry in the DB? -->
    <%boxList.forEach(function(r){
    <tr>
      <td><%=r.Name %></td> <!-- Need to make this a link... -->
      <td><%=r.ColorName %></td>
    </tr>
    });
  </table>
  <button onclick="returnCalc()" id="returnButton">Return</button> <!-- Does this need to be a script? Can it just link back one page? -->
</div>
</center>
</body>
</html>
