<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="script" href="default.js"> 
</head>

<body>
<center>
<div id="drawingArea">
  <!-- First, make enough divs... -->
  <% minimalList.results.forEach(function(box){ %>
    <div class="drawnBox"></div>
  <% }) %>
  <!-- Then edit them -->
  <script>
    var boxDivs = document.getElementsByClassName("drawnBox");
    for(let i = 0; i < boxDivs.length; i++){
      // FOR DEBUGGING, REMOVE THIS
      console.log("===THIS IS THE LIST===");
      console.log(minimalList);
      console.log("===============");

      // VSCode complains a lot about this, but it might work...
      var divColor = <% minimalList.results[locals.i].ColorName %>;
      var divWidth = <% minimalList.results[locals.i].Width %>;
      var divHeight = <% minimalList.results[locals.i].Height %>;
      boxDivs[i].style.backgroundColor = divColor;
      boxDivs[i].style.min-width = divWidth;
      boxDivs[i].style.min-height = divHeight;
    }
  </script>
</div>
<div>
  <table id="rectList">
    <thead>
      <td id="nameHeader">Name</td>
      <td id="colorHeader">Color</td>
    </thead>
    <!-- Should draw one row per entry in the DB? -->
    <% minimalList.results.forEach(function(box){ %>
    <tr>
      <td><a href="singleBox.ejs/r.Name"><%= box.Name %></a></td>
      <td><%= box.ColorName %></td>
    </tr>
    <% }); %>
  </table>
  <a href="addBox.ejs"><button id="addButton">Add A Box</button></a>
</div>
</center>
</body>
</html>
