<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/default.css">
  <link rel="script" href="../default.js">
</head>

<body>
<center>
<div id="drawingArea">
</div>
<div>
    <!-- How do I tell this which box to load? -->
    <table id="rectList">
        <thead>
          <td id="entryHeader">Entry</td>
          <td id="valueHeader">Value</td>
        </thead>
        <tr>
          <td>Name:</td>
          <td><% singleBox.Name %></td>
        </tr>
        <tr>
          <td>Color:</td>
          <td><% singleBox.colorName %></td>
        </tr>
        <tr>
          <td>Color (Hex):</td>
          <td><% singleBox.colorHex %></td>
        </tr>
        <tr>
          <td>Height</td>
          <td><% singleBox.height %></td>
        </tr>
        <tr>
          <td>Width:</td>
          <td><% singleBox.width %></td>
        </tr>
        <tr>
          <td>Total Area:</td>
          <td><% singleBox.width %></td>
        </tr>
        <tr>
          <td>Box ID:</td>
          <td><% singleBox.id %></td>
        </tr>
    </table>
</div>
<div>
    <button onclick="deleteBox()" id="deleteButton">Delete Box</button> <!-- Can't just call function 'delete', seems to be a keyword? -->
    <button onclick="modifyBox()" id="modifyButton">Modify Box</button> <!-- Should redirect to modify page for this specific item -->
</div>
</center>
</body>
</html>

